# IntelliJ Idea project files
.idea/*
!.idea/runConfigurations/*

io.nadron.client/target/*
io.nadron.server/target/*
net.clanwolf.starmap.client/target/*
net.clanwolf.starmap.client.packager/target/*
net.clanwolf.starmap.client.preloader/target/*
net.clanwolf.starmap.logging/target/*
net.clanwolf.starmap.server/target/*
net.clanwolf.starmap.transfer/target/*
net.clanwolf.starmap.bots/target/*
net.clanwolf.starmap.mail/target/*
net.clanwolf.starmap.administration/target/*
net.clanwolf.starmap.security/target/*

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.iml

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# javadoc
/io.nadron.client/doc/javadoc
/io.nadron.server/doc/javadoc
/net.clanwolf.starmap.client/doc/javadoc/
/net.clanwolf.starmap.client.packager/doc/javadoc/
/net.clanwolf.starmap.client.preloader/doc/javadoc/
/net.clanwolf.starmap.logging/doc/javadoc/
/net.clanwolf.starmap.server/doc/javadoc/
/net.clanwolf.starmap.transfer/doc/javadoc/
